**/node_modules
*.log
**/dist
**/coverage
**/test-report.xml
.cache
.DS_Store

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
