{
  "extends": ["@repay/eslint-config"],
  "overrides": [
    {
      "files": ["**/*.{js,jsx}"],
      "parser": "babel-eslint",
      "rules": {
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    }
  ]
}
